<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
        <a href="{% url 'homepage' %}" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span class="text-white font-weight-normal">News</span></h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                {% if '' in request.path and 'contact' not in request.path and 'blog' not in request.path %}
                <a href="{% url 'homepage' %}" class="nav-item nav-link active">Home</a>
                {% else %}
                <a href="{% url 'homepage' %}" class="nav-item nav-link">Home</a>
                {% endif %}
                <div class="nav-item dropdown">
                    {% if 'blog' in request.path %}
                    <a href="{% url 'blog' %}" class="nav-item nav-link active dropdown-toggle" data-toggle="dropdown">Blog</a>
                    {% else %}
                    <a href="{% url 'blog' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                    {% endif %}
                    <div class="dropdown-menu rounded-0 m-0">
                        {% for cat in menu_categories %}
                        <a href="{% url 'category' cat.slug %}" class="dropdown-item">{{ cat.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% if 'contact' in request.path %}
                <a href="{% url 'contact' %}"  class="nav-item nav-link active">Contact</a>
                {% else %}
                <a href="{% url 'contact' %}"  class="nav-item nav-link">Contact</a>
                {% endif %}
            </div>
            <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                    <input type="text" class="form-control border-0" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->