{% if is_paginated == False %}
{% else %}
<div class="center">
  <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">«</a>
    {% endif %}
    {% for p in paginator.page_range %}
    {% if p == page_obj.number %}
    <a href="?page={{p}}" class="active">{{p}}</a>
    {% else %}
    <a href="?page={{p}}">{{p}}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">»</a>
    {% endif %}
  </div>
</div>
{% endif %}
