{% extends 'news/base.html' %}

{% block content %}
{% include 'news/partials/navbar.html' %}
<!-- Breaking News Start -->
<div class="container-fluid mt-5 mb-3 pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="section-title border-right-0 mb-0" style="width: 180px;">
                        <h4 class="m-0 text-uppercase font-weight-bold">News:</h4>
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center
                    bg-white border border-left-0"
                         style="width: calc(100% - 180px); padding-right: 100px;">
                        {% if prev_article %}
                        <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold"
                                                      href="{% url 'article' prev_article.slug %}">
                            {{ prev_article.name | truncatewords:10}}</a>
                        {% endif %}
                        </div>
                        {% if next_article %}
                        <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold"
                                                      href="{% url 'article' next_article.slug %}">
                            {{ next_article.name | truncatewords:10}}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breaking News End -->
<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{{ article.main_image.url }}" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'category' article.categories.all.0.slug %}">{{ article.categories.all.0 }}</a>
                                <a class="text-body" href="">{{ article.pub_date }}</a>
                            </div>
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2"
                                     src="{{ article.author.avatar.url }}" width="25" height="25" alt="">
                                <span>{{ article.author.name }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>12345</span>
                                <a href="#comments" class="ml-3"><i class="far fa-comment mr-2"></i>
                                    {{ article.comments.all.count }}</a>
                            </div>
                        </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{ article.name }}</h1>
                            {{ article.content | safe }}
                        </div>
                    </div>
                <!-- News Detail End -->
                <!-- Comment List Start -->
                <div class="mb-3" id="comments">
                    {% if comments %}
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">{{ comments.count }} Comments</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            {% for comment in comments %}
                            <div class="media mb-4">

                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">{{ comment.name }}</a>
                                        <small><i>{{ comment.pub_date }}</i></small></h6>
                                    <p>{{ comment.comment }}</p>
                                    <button class="btn btn-sm btn-outline-secondary">Reply</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- Comment List End -->
                <!-- Comment Form Start -->
                <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Name *</label>
                                            {{ form.name.errors }}
                                            <input type="text" class="form-control" name="name" id="name" required
                                                   {% if form.name.value %}
                                                   value="{{ form.name.value }}"
                                                   {% endif %}
                                            >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            {{ form.email.errors }}
                                            <input type="email" class="form-control" name="email" id="email" required
                                            {% if form.email.value %}
                                            value="{{ form.email.value }}"
                                            {% endif %}
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    {{ form.website.errors }}
                                    <input type="url" class="form-control" name="website" id="website"
                                           {% if form.website.value %}
                                           value="{{ form.website.value }}"
                                           {% endif %}>
                                </div>

                                <div class="form-group">
                                    <label for="comment">Comment *</label>
                                    {{ form.comment.errors }}
                                    <textarea
                                            id="comment" cols="30"
                                            rows="5" name="comment"
                                            class="form-control">{% if form.comment.value %}{{ form.comment.value }}{% endif %}
                                    </textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit"
                                            class="btn btn-primary font-weight-semi-bold py-2 px-3">Leave a comment
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                <!-- Comment Form End -->
            </div>
            <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Connects</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Subscribers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href=""><img class="img-fluid" src="/static/img/news-800x500-2.jpg" alt=""></a>
                        </div>
                    </div>
                    <!-- Ads End -->

                    {% include 'news/partials/last_news.html' %}

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <small>Lorem ipsum dolor sit amet elit</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->

                    <!-- Tags Start -->
                    {% include 'news/partials/tags.html' %}
                    <!-- Tags End -->
                </div>
        </div>
    </div>
</div>
<!-- News With Sidebar End -->
{% endblock content %}
